/**
  * Globals
 **/
body{
    background-color: #312F34;
}
button {}
button::-moz-focus-inner{}

a {
    text-decoration: none;
}

small{}

/**
  * header
 */
section > header {
    height: 3.2rem;
    background-color: #000000;
    border-bottom: 0.2rem solid #89f409;
}

section > header > img {
    float: left;
    height: 3rem;
}

section > header > h1 {
    color: #FFFFFF;
    margin-left: 1rem;
    font-weight: bold;
}

section > header > nav {
    margin-top: 0.9rem;
    margin-right: 0.8rem;
    text-align: right;
}

section > header > nav > a {
    padding: 1rem 0.5rem;
    color: #FFFFFF;
}

section > header > nav > a.active {
    color: #89f409;
}

article {
    padding: 1rem;
}

article > h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

article > p {
    margin-left: 1rem;
    text-align: center;
}

article > p > a {
    background-color: #89f409;
    color: #ffffff;
    font-size: 4rem;
    padding: 0.5rem;
    text-align: center;
    margin: 1.5rem auto;
}

/**
  * Forms
 **/
article.form {}
input{}
input[type='search'] {}
