@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?25ifgo');
	src:url('fonts/icomoon.eot?#iefix25ifgo') format('embedded-opentype'),
		url('fonts/icomoon.woff?25ifgo') format('woff'),
		url('fonts/icomoon.ttf?25ifgo') format('truetype'),
		url('fonts/icomoon.svg?25ifgo#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-disk:before {
	content: "\e601";
}
.icon-wrench:before {
	content: "\e602";
}
.icon-cog:before {
	content: "\e603";
}
.icon-download:before {
	content: "\e604";
}
.icon-home:before {
	content: "\e605";
}
.icon-home2:before {
	content: "\e606";
}
.icon-share:before {
	content: "\e607";
}
.icon-list:before {
	content: "\e608";
}
.icon-list2:before {
	content: "\e600";
}
